.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Full viewport height */
}

.spinner {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #7e7e7e;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.loading p {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #7e7e7e;
}